<main>
    <main class="container bg-opacity-50" bgcolor="coral" >
    <h1 class="text-uppercase">no se pudo validar su ingreso</h1>
    <h3 class="text-uppercase">credenciales no válidas</h3>
    <div type="button" class="btn btn-warning text-uppercase" onclick="location.href='/login'">Volver</div>
</main>
</main>