<main class="container bg-opacity-50 bg-success d-flex justify-content-between">
    <h1 class="text-uppercase">Bienvenido/a {{data.name}}</h1>
    <h6>{{data.email}}</h6>
    <div type="button" class="btn btn-warning" onclick="location.href='/logout'">Desloguear</div>
</main>