<main class="container bg-opacity-50 bg-success">
    <h1 class="text-uppercase d-inline">Bienvenido/a {{data.nombre}}</h1>
    <h6>{{data.email}}</h6>
    <div type="button" class="btn btn-warning d-inline justify-content-end" onclick="location.href='/logout'">Desloguear</div>
</main>