<main>
    <main class="container bg-opacity-50" bgcolor="coral" >
    <h1 class="text-uppercase d-inline">Error al intentar registrarse</h1>
    <h3 class="text-uppercase">usuario o correo ya registrado</h3>
    <div type="button" class="btn btn-warning text-uppercase" onclick="location.href='/registro'">Volver</div>
</main>
</main>