<div class='barra'>
    <a href="/productos" class='link '><h2>Tienda</h2></a>
    <nav class = "menu_options">
        <a href='/productos/postizas' class = "link menu_options_links">Uñas postizas</a>
        <a href='/productos/herramientas' class = "link menu_options_links">Herramientas</a>
        <a href='/productos/nailcare' class = "link menu_options_links">Cuidado de uñas</a>
        <a href='/productos/accesorios' class = "link menu_options_links">Accesorios</a>
    </nav>
    {{>cartWidget}}
</div>