<section>
    <h2 class="text-center text-uppercase">Lista de productos</h2>
        <table class="table table-dark table-hover table-sm align-middle">
            <thead>
                <tr class="text-uppercase">
                    <th>titulo</th>
                    <th>precio</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody id="listaProductos">
            </tbody>
        </table>
</section>