<main class="container bg-opacity-50 bg-info rounded">
    <h1 class="text-uppercase text-primary">Hasta Luego {{data}}</h1>
    <script>
        setTimeout(() => { location.href = '/' }, 2000)
    </script>
</main>