<main class="container">
        <h1 class="text-center text-uppercase">Cargar Producto</h1>
        <form action="/productos" method="post">
            <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nombre de Producto</div>
            </div>
            <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio">
            </div>
            </div>
            <div class="mb-3">
            <label for="url" class="form-label">Dirección de la imagen</label>
            <input type="text" class="form-control" id="url" name="url">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a class="btn btn-info mx-auto m-3" href="/productos" role="button">Ver productos</a>
     </main> 