<main class="container bg-opacity-50 bg-success">
    <h1 class="text-uppercase d-inline">Bienvenido/a</h1>
    <div type="button" class="btn btn-warning d-inline justify-content-end">Desloguear</div>
</main>